{% extends 'base.html.twig' %}

{% block title %}
    Log in!
{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class='container my-2'>
            <div class='row justify-content-center'>
                <h1>Login</h1>
            </div>
        </div>

        <hr />

        <div class='container my-2'>
            <div class='form-group row justify-content-center mb-2'>
                <label for='inputUsername' class='sr-only'>Username</label>
                <input type='text' value='{{ last_username }}' name='username' id='inputUsername' class='form-control' placeholder='Username' required autofocus>
            </div>
            <div class='form-group row justify-content-center my-2'>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

            <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}">

            <div class='row justify-content-center form-group mt-2'>
                <button class='btn btn-outline-info btn-lg ml-2' type='submit'>Sign In</button>
            </div>
        </div>
    </form>

    <hr />


    <div class='container my-2'>
        <div class='row'>
            <a href='/adduser'><button class="btn btn-lg btn-outline-info ml-2">Sign Up</button></a>
        </div>
    </div>
{% endblock %}
