{% extends 'base.html.twig' %}

{% block title %}
    User List
{% endblock %}

{% block body %}
    <div class='container my-2'>
        <div class='row justify-content-center'>
            <h1>User List</h1>
        </div>
    </div>

    <hr />

    <div class='container my-2'>
        {% for user in users %}
            <div class='row'>
                <a href='showuser/{{ user.id }}'>{{ user.username }}</a>
            </div>
            <br /><hr /><br />
        {% endfor %}
    </div>

    <div class='container my-2'>
        <div class='row'>
            <a href='/showposts'><button class='btn btn-outline-info mx-2'>Home</button></a>
            <a href='/logout'><button class='btn btn-outline-info mx-2'>Logout</button></a>
        </div>
    </div>
{% endblock %}
