{% extends 'base.html.twig' %}

{% block title %}
    Add Comment To {{ post.title }}
{% endblock %}

{% block body %}
    <div class='container my-2'>
        <div class='row justify-content-center'>
            <h1>Add Comment To {{ post.title }}</h1>
        </div>
    </div>

    <hr class='my-3'>

    <div class='container my-2'>
        <form method='post'>
            <div class='row justify-content-center mb-2 form-group'>
                <textarea class='form-control' name='message'></textarea>
            </div>
            <div class='row justify-content-center'>
                <input type='submit' value='Submit'>
            </div>
        </form>
    </div>
{% endblock %}
