{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class='container my-2'>
        <div class='row justify-content-center'>
            <h1>Home</h1>
        </div>
    </div>

    <hr />

    <div class='container my-2'>
        <div class='row'>
            <p>Welcome {{ app.user.username }} !</p>
        </div>
    </div>

    <hr />

    <div class='container my-2'>
        {% for post in posts %}
            <a href='/showposts/{{ post.id }}'>{{ post.title }}</a><br>
        {% endfor %}
    </div>

    <hr />

    <div class='container my-2'>
        <div class='row'>
            <a href='/addpost'><button type='button' class='btn btn-outline-info mx-2'>Add Post</button></a>
            <a href='/showusers'><button class='btn btn-outline-info mx-2'>User List</button></a>
            <a href='/logout'><button type='button' class='btn btn-outline-info mx-2'>Log Out</button></a>
        </div>
    </div>
{% endblock %}
