
{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
    <div class='container my-2'>
        <div class='row justify-content-center'>
            <h1>{{ post.title }}</h1>
        </div>
    </div>

    <div class='container my-2'>
        <div class='row'>
            <p><a href='/showuser/{{ post.author.id }}'>{{ post.author.username }}</a><br />{{ post.date|date("d/m/Y") }}</p>
        </div>
    </div>

    <hr />

    <div class='container my-2'>
        {% for comment in comments %}
            <div class='row'>
                <p><a href='/showuser/{{ comment.author.id }}'>{{ comment.author.username }}</a>&nbsp;&nbsp;-&nbsp;&nbsp;{{ comment.date|date('d/m/Y') }}</p>
                <div class='w-100'></div>
                <p class='mt-2'>{{ comment.message }}</p>
            </div>
            <hr />
        {% endfor %}
    </div>

    <div class='container my-2'>
        <div class='row'>
            <a href='/addcomment/{{ post.id }}'><button type='button' class='btn btn-outline-info mx-2'>Add Comment</button></a>
            <a href='/showposts'><button type='button' class='btn btn-outline-info mx-2'>Home</button></a>
            <a href='/logout'><button type='button' class='btn btn-outline-info mx-2'>Log Out</button></a>
        </div>
    </div>

{% endblock %}
