{% extends 'base.html.twig' %}

{% block title %}
    Delete User
{% endblock %}

{% block body %}
    <div class='container mt-4'>
        <div class='row justify-content-center'>
            <h1>Delete Users</h1>
        </div>
        <form method='post'>
            <div class='row justify-content-center form-group my-2'>
                <select name='user' class='form-control'>
                    {% for user in users %}
                        <option value='{{ user.id }}'>{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='row justify-content-center form-group'>
                <input type='submit' value='Delete' class='form-control'>
            </div>
        </form>
    </div>
{% endblock %}
