<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {{ encore_entry_link_tags('boots') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class='alert alert-success'>
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('boots') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
