{% extends 'base.html.twig' %}

{% block title %}
    Infos {{ user.username }}
{% endblock %}

{% block body %}
    <div class='container my-2'>
        <div class='row justify-content-center'>
            <h1>{{ user.username }}</h1>
        </div>
    </div>

    <hr />

    <div class='container'>
        <div class='row justify-content-center my-2'>
            <h3>Posts</h3>
        </div>

        <hr />

        <div class='row my-2'>
            <p>
            {% for post in posts %}
                <a href='/showposts/{{ post.id }}'>{{ post.title }}</a>
                <br />
            {% endfor %}
            </p>
        </div>
    </div>

    <hr />

    <div class='container'>
        <div class='row justify-content-center my-2'>
            <h3>Comments</h3>
        </div>

        <hr />

        <div class='row my-2'>
            <p>
            {% for comment in comments %}
                <a href='/showposts/{{ comment.post.id }}'>{{ comment.id }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ comment.post.title }}</a>
                <br />
            {% endfor %}
            </p>
        </div>
    </div>

    <hr />

    <div class='container my-2'>
        <div class='row'>
            <a href='/showusers'><button class='btn btn-outline-info mx-2'>User List</button></a>
            <a href='/showposts'><button class='btn btn-outline-info mx-2'>Home</button></a>
            <a href='/logout'><button class='btn btn-outline-info mx-2'>Logout</button></a>
            {% if app.user.id == user.id %}
                <a href='/delete/{{ user.id }}' class='ml-auto'><button class='btn btn-outline-info ml-auto'>Delete</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
