{% extends 'base.html.twig' %}

{% block title %}
    Add Post
{% endblock %}

{% block body %}
    <div class='container my-2'>
        <div class='row justify-content-center mb-2'>
            <h1>Add Post</h1>
        </div>
        <form method='post'>
            <div class='row justify-content-center mt-5 mb-2 form-group'>
                <input type='text' placeholder='Title' name='title' class='form-control'>
            </div>
            <div class='row justify-content-center my-2'>
                <textarea name='message' class='form-control'>Message</textarea>
            </div>
            <div class='row justify-content-center mt-2'>
                <input type='submit' value='Submit' class='form-control'>
            </div>
        </form>
    </div>

    <hr />

    <div class='container my-2'>
        <div class='row'>
            <a href='/showposts'><button type='button' class='btn btn-outline-info mx-2'>Home</button></a>
            <a href='/logout'><button type='button' class='btn btn-outline-info mx-2'>Log Out</button></a> 
        </div>
    </div>
{% endblock %}
