{% extends 'base.html.twig' %}

{% block title %}
    Sign Up
{% endblock %}

{% block body %}
    <div class='container my-2'>
        <div class='row justify-content-center'>
            <h1>Sign Up</h1>
        </div>
    </div>

    <hr />

    <div class='container my-2'>
        <form method='post'>
            <div class='row form-group justify-content-center my-2'>
                <input type='text' name='username' placeholder='Username' class='form-control'>
            </div>
            <div class='row form-group justify-content-center my-2'>
                <input type='password' name='pass' placeholder='pass' class='form-control'>
            </div>
            <div class='row form-group justify-content-center my-2'>
                <input type='text' name='email' placeholder='Email' class='form-control'>
            </div>
            <div class='row form-group justify-content-center my-2'>
                <input type='submit' value='Submit' class='form-control'>
            </div>
        </form>
    </div>

    <hr />

    <div class='container my-2'>
        <div class='row'>
            <a href='/login'><button class='btn btn-outline-info ml-2'>Back</button></a>
        </div>
    </div>
{% endblock %}
